.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.pdf
*.png
*.docx
*.log
*.zip
*.xlsx
*.csv
*.cpg
*.dbf
*.prj
*.qpj
*.shp
*.shx
Ana_Israel_IPM/Manuscript/*_cache
Polygons/*
Model_Fits/*
Misc/*
*.rds
*.pptx
*.jpg
*.tif